html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    background-size: cover;
    color: #000;
    font-family: 'Cardo', serif;
    width: 100%;
}

/* from Bulma */ 
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #AD974F;
    color: white;
    min-width: 260px;
}

.btn-gold {
    background: #AD974F;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.dark-gold {
    color: #8E793E !important;
    

}
.light-gold {color: #AD974F !important;
}
.intellectual-grey {color: #231F20 !important;
}

.light-grey {color: #EAEAEA;
}

.bg-grey{
    background:  #EAEAEA;
}

.bg-dark-gold{
    background: #8E793E !important;
}
.bg-light-gold{
    background: #AD974F !important;

}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 2px solid #AD974F !important;
}

.banner{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
.carousel-caption{
    padding-bottom: 100px;
    font-family: 'Poppins', sans-serif;
    
}
.carousel-caption h2{
    font-size: 75px;
    text-transform: uppercase;
    font-weight: bold;
    color: #AD974F;
    background: rgba(3, 3, 3, 0.82);
}
.carousel-caption  h3 {
    font-size: 35px;
    color:  #8E793E!important;
    display: block;
    align-items: center;
    background: rgba(3, 3, 3, 0.82);
    font-weight: bold;
}
}

.carousel-caption a{
    padding: 15px 35px;
    display: inline-block;
    margin-top: 25px;
    border-radius: 25px;
    

}
.carousel-control-prev{
background-image: none;
}

.carousel-control-next{
    background-image: none;
}
.carousel-indicators .active{
    background-color: #8E793E;
    

}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 768px) and (max-width:991px) {
  .container {
    max-width: 80%;
  }

}

/* fixed top navbar only on medium and up */
@media only screen and (min-width: 768px) and (max-width: 1200px){
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 118px;
    }
    .carousel-caption{
            padding-bottom: 250px;

    }
    .carousel-caption h2{
        font-size: 30px;
    }
}

@media only screen and (max-width:767px){
    .carousel-caption{
        padding-bottom: 220px;
    }

    .carousel-caption h2{
        font-size: 45px;
    }
    .carousel-caption h3{
        font-size: 36px;
    }
    
}
